/* footer */

.footerrr {
  height: 50vh;
  width: 100%;
  background-color: #032d6c;
  display: flex;
}

.first_div_footer {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer_logo {
  height: 40%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_logo img {
  height: 80%;
  width: auto;
}

.footer_content {
  height: 30%;
  width: 80%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_social_media {
  height: 30%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.footer_social_media a {
  color: #ffffff;

  font-size: 30px;
  margin-left: 15px;
}

.secound_div_footer {
  height: 100%;
  width: 40%;
  display: flex;
}

.Contact_nav_in_footer {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Contact_nav_in_footer h1 {
  height: 20%;
  width: 80%;
}

.Contact_nav_in_footer h1 b {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Contact_nav_in_footer h3 {
  height: 10%;
  width: 80%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: start;
}
.Contact_nav_in_footer h3 i {
  margin-right: 20px;
  font-size: 16px;
}
.Contact_nav_in_footer h3 a {
  text-decoration: none;
  color: #ffffff;
  font-family: "open sans";
}

.three_div_footer {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.three_div_footer h1 {
  height: 20%;
  width: 80%;
  color: #ffffff;
  display: flex;

  justify-content: center;
}
.map {
  height: 50%;
  width: 80%;
}
.map iframe {
  width: 100%;
}

/* int footer navya and lovejeet*/
.navya_and_lovejeet_linkedin {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #032d6c;
  color: wheat;
  border-top: 2px solid white;
}
.navya_and_lovejeet_linkedin a {
  text-decoration: none;
  color: wheat;
}
.navya_and_lovejeet_linkedin img {
  height: 80%;
  border-radius: 50%;
}

/* for tablet */
@media only screen and (max-width: 1030px) and (min-width: 600px) {
  /* footer*/
  .footerrr {
    height: 50vh;
    width: 100%;
    background-color: #032d6c;
    display: flex;
  }

  .first_div_footer {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer_logo {
    height: 40%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer_logo img {
    height: 80%;
    width: auto;
  }

  .footer_content {
    height: 30%;
    width: 80%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer_social_media {
    height: 30%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .footer_social_media a {
    color: #ffffff;

    font-size: 30px;
    margin-left: 15px;
  }

  .secound_div_footer {
    height: 100%;
    width: 40%;
    display: flex;
  }

  .Contact_nav_in_footer {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Contact_nav_in_footer h1 {
    height: 20%;
    width: 80%;
    font-size: 30px;
  }

  .Contact_nav_in_footer h1 b {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Contact_nav_in_footer h3 {
    height: 10%;
    width: 80%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 15px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Contact_nav_in_footer h3 i {
    font-size: 16px;
  }
  .Contact_nav_in_footer h3 a {
    text-decoration: none;
    color: #ffffff;
    font-family: "open sans";
  }

  .three_div_footer {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .three_div_footer h1 {
    height: 20%;
    width: 80%;
    color: #ffffff;
    display: flex;

    justify-content: center;
  }
  .map {
    height: 50%;
    width: 80%;
  }
  .map iframe {
    height: 100%;
    width: 80%;
  }

  /* int footer navya and lovejeet*/
  .navya_and_lovejeet_linkedin {
    height: 50px;
    width: 100%;
    display: flex;
    background-color: #032d6c;
  }
  .navya_and_lovejeet_linkedin a {
    text-decoration: none;
    color: wheat;
  }
  .navya_and_lovejeet_linkedin img {
    height: 80%;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
  /* footer */
  .footerrr {
    height: 100vh;

    background-color: #032d6c;
    display: flex;
    flex-direction: column;
  }

  .first_div_footer {
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer_logo {
    height: 30%;
    width: 100%;
  }
  .footer_content {
    height: 50%;
    width: 80%;
    font-size: 10px;
    padding: 5px 5px 5px 5px;
  }
  .footer_content p {
    text-align: center;
  }
  .footer_social_media {
    height: 20%;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer_social_media a i {
    font-size: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .secound_div_footer {
    height: 33%;
    width: 100%;

    display: flex;
  }
  .Contact_nav_in_footer h1 {
    font-size: 25px;

    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Contact_nav_in_footer h3 {
    height: 16%;
    font-size: 12px;
  }

  .three_div_footer {
    height: 33%;
    width: 100%;

    display: flex;
    flex-direction: column;
  }

  .three_div_footer h1 {
    height: 30%;
    width: 100%;

    display: flex;
    align-items: center;
    font-size: 30px;
  }
  .map {
    height: 80%;
    width: 80%;
  }
  .map iframe {
    height: 70%;
    width: 100%;
  }

  /* int footer navya and lovejeet*/
  .navya_and_lovejeet_linkedin {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;

    background-color: #032d6c;
  }
  .navya_and_lovejeet_linkedin a {
    text-decoration: none;
    color: wheat;
  }
  .navya_and_lovejeet_linkedin img {
    height: 50%;
    border-radius: 50%;
    margin-right: 0px;
  }
}
